<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
	
	<context-param>
		<param-name>account</param-name>
		<param-value>ducky</param-value>
	</context-param>

	<context-param>
		<param-name>pass</param-name>
		<param-value>2013</param-value>
	</context-param>


	<!--servlet-->
	<servlet>
		<servlet-name>Hello World</servlet-name>
		<servlet-class>ducky.servlets.HelloWorld</servlet-class>
		<init-param>
			<param-name>song</param-name>
			<param-value>I am yours</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Hello World</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Authentication</servlet-name>
		<servlet-class>ducky.servlets.Authentication</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Authentication</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<!--end servlet-->

	<!--jsp-->
	<servlet>
		<servlet-name>Sample jsp</servlet-name>
		<jsp-file>/process/sample.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Sample jsp</servlet-name>
		<url-pattern>/funny</url-pattern>
	</servlet-mapping>
	<!--end jsp-->
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>